@charset "UTF-8";

#st_msg>#box1{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg>#box2{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg>#box3{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg>#box4{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}




#st_msg.짧음>#box1{
border: 1px solid red;
background-color : red;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.짧음>#box2{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.짧음>#box3{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.짧음>#box4{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}

#st_msg.약함>#box1{
border: 1px solid red;
background-color : red;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.약함>#box2{
border: 1px solid yellow;
background-color : yellow;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.약함>#box3{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.약함>#box4{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}

#st_msg.중간>#box1{
border: 1px solid red;
background-color : red;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.중간>#box2{
border: 1px solid yellow;
background-color : yellow;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.중간>#box3{
border: 1px solid orange;
background-color : orange;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.중간>#box4{
border: 1px solid gray;
background-color : gray;
width: 150px;
height: 10px;
display: inline-block;
}

#st_msg.강함>#box1{
border: 1px solid red;
background-color : red;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.강함>#box2{
border: 1px solid yellow;
background-color : yellow;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.강함>#box3{
border: 1px solid orange;
background-color : orange;
width: 150px;
height: 10px;
display: inline-block;
}
#st_msg.강함>#box4{
border: 1px solid green;
background-color : green;
width: 150px;
height: 10px;
display: inline-block;
}



 #st_msg.짧음{ 
 color: red; 
 } 
 #st_msg.약함{ 
 color: yellow; 
 } 
 #st_msg.중간{ 
 color: orange; 
 } 
 #st_msg.강함{ 
 color: green; 
 } 
 
 
.content {
  top:0px;
  position: fixed;
/*   bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 100%;
  margin-top: 55px;
/*   margin-bottom:-50px; */
}


/* body{background-image: url("${pageContext.request.contextPath}/img/background/avengers.jpg");background-repeat: no-repeat;background-size: 100%;} */
/* body{background-image: url("${pageContext.request.contextPath}/img/background/avengers.jpg");background-repeat: no-repeat;background-size: 100% 100%;} */

/* body{background-image: url("${pageContext.request.contextPath}/img/background/join_background.jpg");} */
/* body{background-image: url("${pageContext.request.contextPath}/img/background/login_background.jpg");background-repeat: no-repeat;background-size: 100%;} */
#jb-container {
	top:0px;
    z-index : 100;
	width:800px;
	margin:0 auto;
/* 	padding: 100px; */
    padding: 20px 100px 20px 100px;
	height: 90%;
/* 	margin: 0 auto; */
	border: 1px solid #bcbcbc;
/* 	background: rgba(0, 0, 0, 0.5); */
    background: rgba(255, 255, 255, 0.5);
    overflow:scroll
}
/* #join {width:500px;margin:auto;color:#FFFFFF;} */
/* a{color:#FFFFFF;} */
/* a:hover{color:orange;} */
#join {width:700px;margin:auto;}

textarea {
  width: 500px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
/*   padding: 8px; */
  box-sizing: border-box;
  transition: 0.3s;
}
textarea:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.inputWithIcon textarea {
  margin-top:7px;
  padding-left: 50px; /* 아이콘 과 텍스트 간격 */
}
.inputWithIcon textarea:focus +i {
  color: dodgerBlue;
}
.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}
.inputWithIcon.inputIconBg textarea:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}





input[type="text"],input[type="email"],input[type="password"] {
  width: 500px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
/*   padding: 8px; */
  box-sizing: border-box;
  transition: 0.3s;
  padding-bottom:4px;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.inputWithIcon input[type="text"],input[type="email"],input[type="password"] {
  padding-left: 50px; /* 아이콘 과 텍스트 간격 */
}
.inputWithIcon {
  position: relative;
}
.inputWithIcon i {
	width:1.5em;/* 아이콘 폭 */
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + i,input[type="email"]:focus + i,,input[type="password"]:focus + i {
  color: dodgerBlue;
}
.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}
.inputWithIcon.inputIconBg input[type="text"]:focus + i,input[type="email"]:focus + i,input[type="password"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
.btn-style:disabled {
	background-color: #AAAAAA;
    border: solid 2px #AAAAAA;
    color:#FFFFFF;
}
.btn-style {
    width:auto;
    height:31px;
    
	background-color: dodgerBlue;
    border: solid 2px dodgerBlue;
    color:#FFFFFF;
	padding: auto 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
/*     font-size: 15px; */
/*     margin: 4px; */
    cursor: pointer;
    border-radius:2px;
}
.btn-style:hover {
  background-color: dodgerBlue;
  background-color: blue;
  border: solid 2px blue;
/*   box-shadow: 0 0 8px 0 dodgerBlue; */
}



#my_video {
/* top: 55px; */
position: fixed;
top:0;
right: 0;
bottom: 0;
/*   position:sticky; */
  min-width: 100%;
  min-height: 100%;
}
header{
  z-index:100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

