@charset "UTF-8";

#jb-container {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #bcbcbc;
	background-color: #2E2E2E;
}

#jb-header {
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
	height: 100px;
	vertical-align: middle;
	width: 100%;
	margin: 10px auto;
	display: flex;
	color: #FFFFFF;
}

.title-right {
	flex: 1;
	width: 30%;
	float: right;
}

.title-left {
	flex: 1;
	width: 30%;
	padding: 10px;
	float: left;
}

.title-right>.btn-like {
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 20px;
	flex: 1;
	height: 100%;
	width: 100px;
	float: right;
	border: none;
	background-color: inherit;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	outline: 0;
}

.title-right>.btn-like:hover {
	border: none;
	outline: 0;
}

#jb-sidebar-left {
	width: 400px;
	height: 100%;
	text-align: center;
	padding: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	color: #FFFFFF;
}

#jb-content {
	height: 100%;
	width: 450px;
	padding: 20px;
	margin-bottom: 20px;
	float: left;
	color: #FFFFFF;
}

#jb-sidebar-right {
	height: 100%;
	width: auto;
	padding: 20px;
	margin-bottom: 20px;
	float: left;
	color: #FFFFFF;
}

#jb-footer {
	clear: both;
	height: 100%;
	padding: 20px;
	border: 1px solid #bcbcbc;
	margin-bottom: 20px;
	color: #FFFFFF;
}

#jb-footer2 {
	clear: both;
	height: 100%;
	padding: 20px;
	border: 1px solid #bcbcbc;
	color: #FFFFFF;
}

dt {
	float: left;
	margin-right: 1em;
}

.caption {
	vertical-align: middle;
}

.title {
	width: 250px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.nation {
	width: 250px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.rating {
	width: 250px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.directorsMovieList {
	text-align: center;
	width: 250px;
	height: 400px;
	margin-right: 20px;
}

.stillCut {
	margin-right: 20px;
}

.jbMenu {
	clear: both;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #000000;
	padding: 10px 0px;
	z-index: 100;
	width: 1200px;
}

.top_banner {
	display: flex;
	flex: 1;
	width: 100%;
	height: 100%;
}

.top_banner img {
	height: 300px;
}

.btnGroup {
	display: block;
}

.down, .up {
	color: #FFFFFF;
	background-color: inherit;
	border: none;
	outline: 0;
	font-size: 1.5em;
}